<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.jnario.enumlang.contribution1"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.jnario.enumlang.menu1"
               label="Enums"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.jnario.enumlang.popup.actions.CompileAction"
               enablesFor="1"
               id="org.jnario.enumlang.newAction"
               label="Compile"
               menubarPath="org.jnario.enumlang.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
